@import url(fonts.css);
@import url(reset.css);

body {
   font-family: Inter, sans-serif;
   font-weight: 400;
   color: rgb(125, 125, 125);
   padding: 15px;
}

.title {
   background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(11, 59, 24, 1) 52%, rgba(11, 18, 15, 1) 100%);
   font-size: 40px;
   color: rgb(0, 0, 0);
   line-height: 100px;
   text-align: center;
   margin-bottom: 30px;
}

/*-------------------------------------practice--------------------------*/
.practice {
   max-width: 900px;
   margin: 0 auto 40px;
}

.lorem-1 {
   max-width: 700px;
   margin: 0 auto 30px;
   background-image: url("../image/image-8.png");
   background-attachment: fixed;
   background-repeat: repeat;
   background-size: auto;
   background-position: bottom;
}

.lorem-2 {
   background: url(/image/image-8.png)repeat-y 50px / 100px, linear-gradient(55.95deg, rgb(26, 97, 51) 0%, rgb(2, 10, 3) 100%);
   margin-bottom: 30px;
}

.lorem-3 {
   background-image: url(/image/image-8.png);
   background-size: cover;
}


/*---------------------------------work-----------------------------------------------*/
/*----------------------------------------we-care-----------------------------------------*/
.we-care-block {
   max-width: 673px;
   margin: 0 auto 40px;
}

.w-sub-title {
   font-weight: 500;
   color: rgb(55, 57, 63);
   font-size: 18px;
   line-height: 22px;
   background: url(/image/icon-7.png)no-repeat;
   background-position: 0 5px;
   background-size: 12px 12px;
   padding-left: 18px;
   margin-bottom: 16px;
}

.w-sub-sub-title,
.w-title,
.w-list {
   color: rgb(55, 57, 63);
   font-family: Poppins;
}

.w-title {
   font-size: 40px;
   font-weight: 700;
   line-height: 60px;
   max-width: 414px;
   margin-bottom: 20px;
}

.w-text {
   font-size: 18px;
   line-height: 146%;
   margin-bottom: 15px;
}

.w-text-leverage {
   margin-bottom: 20px;
}

li {
   font-weight: 400;
   font-size: 20px;
   line-height: 30px;
   background: url(/image/icon-5.png) 0 3px no-repeat;
   padding-left: 35px;
   margin-bottom: 23px;
}

ul {
   margin-bottom: 43px;
}

.w-block-1,
.w-block-2 {
   border: 1px solid rgb(227, 227, 227);
   display: inline-block;
   padding: 31px 32px 32px 90.12px;

}


.w-blocks {
   font-size: 0px;
   margin-bottom: 37px;
}

.w-sub-sub-title {
   font-size: 20px;
   font-weight: 600;
   line-height: 30px;
   margin-bottom: 3px;
}

.w-block-text {
   font-size: 16px;
   line-height: 135%;
}

.w-block-1 {
   background: url(/image/icon-4.png) no-repeat 32px 31px/39.12px 38.88px;
   margin-right: 21px;
   padding: 31px 32px 32px 90.12px;
   max-width: 295.12px;
}

.w-block-2 {
   background: url(/image/icon-2.png) no-repeat 37px 31px;
   background-size: 39.51px 38.17px;
   padding: 31px 32px 32px 95px;
   max-width: 296.51px;
}

.w-a {
   color: rgb(255, 255, 255);
   font-size: 18px;
   line-height: 22px;
   background-color: rgb(107, 119, 229);
   padding: 21px 27px 22px;
   display: inline-block;
   font-weight: 600;
}

/*----------------------------discover-block-------------------------------*/
.discover-block {
   margin: 0 auto 40px;
   max-width: 1220px;
}

.d-sub-title,
.d-title,
.d-sub-sub-title {
   color: rgb(55, 57, 63);
}

.d-sub-sub-title {
   font-size: 18px;
   font-weight: 500;
   line-height: 22px;
   padding-left: 18px;
   background: url(/image/icon-7.png) no-repeat 0 5px/12px;
   margin: 0 auto 14px;
   max-width: 148px;
}

.d-title {
   font-family: Poppins;
   font-size: 40px;
   font-weight: 700;
   line-height: 60px;
   text-align: center;
   margin-bottom: 14px;
}

.d-text {
   font-size: 18px;
   line-height: 146%;
   text-align: center;
   margin-bottom: 47px;
}

.d-blocks-123,
.d-blocks-456 {
   font-size: 0;
}

.d-block-1,
.d-block-2,
.d-block-3,
.d-block-4,
.d-block-5,
.d-block-6 {
   min-width: 384px;
   display: inline-block;
   padding-top: 525px;
}

.date {
   font-size: 14px;
   line-height: 146%;
   background: url(/image/icon-6.png) no-repeat;
   padding-left: 25.35px;
   min-height: 25px;
   padding-top: 2px;
}

.d-sub-title {
   font-family: Poppins;
   font-size: 20px;
   font-weight: 600;
   line-height: 127%;
   margin-bottom: 10px;
}

.d-block-1 {
   background: url(/image/image-7.png) no-repeat top;
   margin: 0 34px 58px 0;
}

.d-block-2 {
   background: url(/image/image-2.png) no-repeat top;
   margin: 0 34px 58px 0;
}

.d-block-3 {
   background: url(/image/image-3.png) no-repeat top;
   margin-bottom: 58px;
}

.d-block-4 {
   background: url(/image/image-4.png) no-repeat top;
   margin: 0 34px 58px 0;
}

.d-block-5 {
   background: url(/image/image-5.png) no-repeat top;
   margin: 0 34px 58px 0;
}

.d-block-6 {
   background: url(/image/image-6.png) no-repeat top;
}

/*---------------------------------clothing-block-----------------------------*/
.clothing-block {
   max-width: 1240px;
   margin: 0 auto 40px;
   color: rgb(128, 125, 126);
   font-family: Causten;
   font-size: 20px;
   font-weight: 400;
   line-height: 33.5px;
   letter-spacing: 0, 02px;
}

.c-title,
.c-sub-title,
.c-a {
   color: rgb(60, 66, 66);
   font-family: "Core Sans C";
   font-size: 28px;
   font-weight: 700;
   padding-left: 15px;
}

.c-title {
   margin-bottom: 30px;
   background: url(/image/icon-3.png) no-repeat 0 3px/ 6px 28px;
   min-height: 30px;
}


.c-sub-title,
.c-a {
   color: rgb(128, 125, 126);
   font-size: 20px;
}

.c-text {
   font-size: 20px;
   margin-bottom: 20px;
   padding-left: 15px;
}

.c-sub-title {
   margin-bottom: 25px;
}

.c-a {
   display: inline-block;
}

span {
   color: rgb(128, 125, 126);
   font-family: "Core Sans C";
   font-size: 20px;
   font-weight: 600;
   line-height: 33.5px;
}

/*---------------------------we-made-block-------------------*/
.we-made-block {
   min-width: 1240px;
   margin: 0 auto;
   padding: 183px 0 175px 74px;
   background: url(/image/image-8.png) no-repeat left top, url(/image/photo-7.png) no-repeat right top;
   max-width: 610px;
}

.m-title {
   color: rgb(255, 255, 255);
   font-family: "Core Sans C";
   font-size: 34px;
   font-weight: 800;
   line-height: 50px;
   letter-spacing: 0.21px;
   margin-bottom: 30px;
}

.m-text {
   color: rgb(255, 255, 255);
   font-family: Causten;
   font-size: 20px;
   font-weight: 300;
   line-height: 24px;
   letter-spacing: 1px;
   margin-bottom: 50px;
}

.m-a {
   padding: 12px 44px;
   background: rgb(255, 255, 255);
   color: rgb(60, 66, 66);
   font-family: Causten;
   font-size: 18px;
   font-weight: 600;
   line-height: 22px;
   text-align: center;
   border-radius: 8px;
   display: inline-block;

}

.m-block {
   max-width: 466px;
}
